<h4 class="display-4">Preferences</h4>
<form>
  <div class="form-group row" ng-repeat="feature in features">
    <label class="col-4">
      {{feature.prettyName}}
    </label>
    <div class="col-8">
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-dark"
                ng-click="setCorrelation(feature.name, -1)"
                ng-class="{'active': feature.correlation < 0}">
          Low
        </button>
        <button type="button" class="btn btn-dark"
                ng-click="setCorrelation(feature.name, 0)"
                ng-class="{'active': feature.correlation == 0}">
          None
        </button>
        <button type="button" class="btn btn-dark"
                ng-click="setCorrelation(feature.name, 1)"
                ng-class="{'active': feature.correlation == 1}">
          High
        </button>
        <button type="button" class="btn btn-dark"
                ng-click="setCorrelation(feature.name, 5)"
                ng-class="{'active': feature.correlation > 1}">
          Very High
        </button>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-4">
      Aggregation
    </label>
    <div class="col-8">
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-dark"
                ng-click="setAggregation('arithmetic')"
                ng-class="{'active': preferences.aggregation == 'arithmetic'}">
          Arithmetic Mean
        </button>
        <button type="button" class="btn btn-dark"
                ng-click="setAggregation('geometric')"
                ng-class="{'active': preferences.aggregation == 'geometric'}">
          Geometric Mean
        </button>
      </div>
    </div>
  </div>
</form>