<h4 class="display-4">Rankings</h4>

<!-- Full rankings table -->
<div class="row"
     ng-show="!showDetails">
  <table class="table table-hover table-fixed"
         st-table="displayedRatings"
         st-safe-src="ratings"
         st-persist="rankingsTable">
    <thead>
      <tr>
        <th class="sortable" st-sort="symbol">Symbol</th>
        <th class="sortable" st-sort="companyName">Company Name</th>
        <th class="sortable" st-sort="sector">Sector</th>
        <th class="sortable" st-sort="latestPrice">Latest Price</th>
        <th class="sortable" st-sort="consistency">Consistency</th>
        <th class="sortable" st-sort="growth1Y">Growth</th>
        <th class="sortable" st-sort="overall">Overall</th>
      </tr>
      <tr>
        <th colspan="2">
          <input placeholder="Search symbols" class="form-control" type="search"
                 ng-model="searchSymbol" st-search="symbol" />
        </th>
        <th colspan="3">
          <input placeholder="Search companies" class="form-control" type="search"
                 ng-model="searchCompany" st-search="companyName" />
        </th>
        <th colspan="2">
          <input placeholder="Search sectors" class="form-control" type="search"
                 ng-model="searchSector" st-search="sector" />
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="rating in displayedRatings track by rating.symbol"
          ng-click="showDetailsForSymbol(rating.symbol)">
        <td>
          {{rating.symbol}}
        </td>
        <td class="td-overflow">
          {{rating.companyName}}
        </td>
        <td>
          {{rating.sector}}
        </td>
        <td>
          ${{rating.latestPrice | number: 2}}
        </td>
        <td>
          {{rating.consistency | number: 1}}
        </td>
        <td>
          {{rating.growth1Y | number: 1}}
        </td>
        <td>
          {{rating.overall | number: 1}}
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="7" class="text-center">
          <div st-pagination="" st-items-by-page="12" st-displayed-pages="5"></div>
        </td>
      </tr>
    </tfoot>
  </table>
</div>

<!-- Detailed symbol view -->
<div class="row"
     ng-show="showDetails">
  <div class="col-4">
    <table class="table table-hover table-fixed"
           st-table="displayedRatings"
           st-safe-src="ratings"
           st-persist="rankingsTable">
      <thead>
        <tr>
          <th class="sortable" st-sort="symbol">Symbol</th>
          <th class="sortable" st-sort="overall">Overall</th>
        </tr>
        <tr>
          <th colspan="2">
            <input placeholder="Search symbols" class="form-control" type="search"
                   ng-model="searchSymbol" st-search="symbol" />
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="rating in displayedRatings track by rating.symbol"
            ng-click="showDetailsForSymbol(rating.symbol)">
          <td>
            {{rating.symbol}}
          </td>
          <td>
            {{rating.overall | number: 1}}
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="2" class="text-center">
            <div st-pagination="" st-items-by-page="12" st-displayed-pages="5"></div>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>

  <div class="col-8">
    <table class="table table-fixed">
      <tr>
        <th>Name</th>
        <td colspan="2">{{displayedSymbol.companyName}}</td>
      </tr>
      <tr>
        <th>Sector</th>
        <td colspan="2">{{displayedSymbol.sector}}</td>
      </tr>
      <tr>
        <th>Open / Close</th>
        <td>${{displayedSymbol.open | number: 2}}</td>
        <td>${{displayedSymbol.close | number: 2}}</td>
      </tr>
      <tr>
        <th>Change / %</th>
        <td ng-class="{
          'red': displayedSymbol.change < 0,
          'green': displayedSymbol.change >= 0}">
          <span ng-show="displayedSymbol.change > 0">+</span>{{displayedSymbol.change | number: 2}}
        </td>
        <td ng-class="{
          'red': displayedSymbol.change < 0,
          'green': displayedSymbol.change >= 0}">
          <span ng-show="displayedSymbol.changePercent > 0">+</span>{{displayedSymbol.changePercent | number: 2}}%
        </td>
      </tr>
      <tr>
        <th>Consistency</th>
        <td colspan="2">{{displayedSymbol.consistency | number: 1}}</td>
      </tr>
      <tr>
        <th>1-Year Growth</th>
        <td>{{displayedSymbol.growth1Y | number: 1}}</td>
        <td ng-class="{
          'red': displayedSymbol.changePercent1Y < 0,
          'green': displayedSymbol.changePercent1Y >= 0}">
          <span ng-show="displayedSymbol.changePercent > 0">+</span>{{displayedSymbol.changePercent1Y | number: 2}}%
        </td>
      </tr>
      <tr>
        <th>3rd Party Ratings</th>
        <td><a ng-href="{{'https://www.thestreet.com/quote/' + displayedSymbol.symbol + '.html'}}" target="_blank">The Street</a></td>
        <td><a ng-href="{{'https://www.zacks.com/stock/quote/' + displayedSymbol.symbol}}" target="_blank">ZACKS</a></td>
      </tr>
    </table>
    <div>
      <canvas class="chart chart-line" chart-data="prices" chart-labels="dates">
      </canvas>
    </div>
  </div>
</div>
