<h4 class="display-4">Rankings</h4>
<div class="row">
  <div class="col">
    <button class="btn btn-dark" type="button" ng-click="togglePreferences()">
      Preferences
    </button>

    <div class="collapse navbar-collapse" uib-collapse="!showPreferences"
         ng-class="{'show': showPreferences}">
      <div ng-repeat="feature in features">
        <div class="col-6">{{feature.prettyName}}</div>
        <div class="col">
          <div class="btn-group" role="group">
            <button type="button" class="btn"
                    ng-click="setCorrelation(feature.name, false)"
                    ng-class="{'btn-dark': !feature.correlation,
                               'btn-outline-dark: feature.correlation}">
              Low
            </button>
            <button type="button" class="btn"
                    ng-click="setCorrelation(feature.name, true)"
                    ng-class="{'btn-dark': feature.correlation,
                               'btn-outline-dark: !feature.correlation}">
              High
            </button>
          </div>
        </div>
      </div>

      <button class="btn btn-dark float-right" ng-click="savePreferences()">
        Save
      </button>
    </div>
  <table class="table table-hover table-fixed"
         st-table="displayedRatings"
         st-safe-src="ratings"
         st-persist="rankingsTable">
    <thead>
      <tr>
        <th class="sortable" st-sort="symbol">Symbol</th>
        <th class="sortable" st-sort="consistency">Consistency</th>
        <th class="sortable" st-sort="growth1Y">1Y Growth</th>
        <th class="sortable" st-sort="growth1M">1M Growth</th>
        <th class="sortable" st-sort="overall">Overall</th>
      </tr>
      <tr>
        <th colspan="5">
          <input placeholder="Search symbols" class="form-control" type="search"
                 ng-model="searchSymbol" st-search="symbol" />
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="rating in displayedRatings track by rating.symbol"
          ng-click="goToSymbol(rating.symbol)">
        <td>
          {{rating.symbol}}
        </td>
        <td>
          {{rating.consistency | number: 1}}
        </td>
        <td>
          {{rating.growth1Y | number: 1}}
        </td>
        <td>
          {{rating.growth1M | number: 1}}
        </td>
        <td>
          {{rating.overall | number: 1}}
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="5" class="text-center">
          <div st-pagination="" st-items-by-page="10" st-displayed-pages="5"></div>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
