<h4 class="display-4">Sectors</h4>
<div class="mb-3">
  <span class="lead">{{sector}}</span>
</div>
<div class="row">
  <table class="table table-hover table-fixed table-sectors"
         st-table="displayedSymbols"
         st-safe-src="symbols"
         st-persist="sectorsTable">
    <thead>
      <tr>
        <th class="sortable" st-sort="symbol">Symbol</th>
        <th class="sortable" st-sort="companyName">Company Name</th>
        <th class="sortable" st-sort="close">Last Price</th>
        <th class="sortable" st-sort="changePercent">Change</th>
      </tr>
      <tr>
        <th colspan="4">
          <div class="row">
            <div class="col-5">
              <input class="form-control" placeholder="Search symbols" type="search"
                     st-search="symbol"/>
            </div>
            <div class="col-7">
              <input class="form-control" placeholder="Search companies" type="search"
                     st-search="companyName"/>
            </div>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="symbol in displayedSymbols"
          ng-click="goToSymbol(symbol.symbol)">
        <td>
          {{symbol.symbol}}
        </td>
        <td class="td-overflow">
          {{symbol.companyName}}
        </td>
        <td>
          {{symbol.close | number: 2}}
        </td>
        <td ng-class="{
          'red': symbol.changePercent < 0,
          'green': symbol.changePercent >= 0}">
          <span ng-show="symbol.changePercent > 0">+</span>{{symbol.changePercent | number: 2}}%
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="4" class="text-center">
          <div st-pagination="" st-items-by-page="10" st-displayed-pages="5"></div>
        </td>
      </tr>
    </tfoot>
  </table>
</div>