<div class="card mt-3">
    <div class="card-body" ng-controller="optionsController">
        <div class="row">
            <h5 class="col-6 card-title">Movesets</h5>
            <button class="btn btn-secondary ml-auto mr-3" ng-click="toggleOptions()">
                Options
            </button>
        </div>

        <!-- options -->
        <form ng-show="showOptions">

            <!-- max cp -->
            <div class="input-group mt-3">
                <div class="input-group-prepend">
                    <label class="input-group-text">Max CP:</label>
                </div>
                <input class="form-control" type="number" ng-model="maxCp" readonly>
                <div class="input-group-append">
                    <button class="btn btn-secondary" ng-class="maxCp <= 1500 ? 'btn-dark' : ''"
                            ng-click="setMaxCp(1500); populateMovesets()">
                        1500
                    </button>
                </div>
                <div class="input-group-append">
                    <button class="btn btn-secondary" ng-class="maxCp > 1500 && maxCp <= 2500 ? 'btn-dark' : ''"
                            ng-click="setMaxCp(2500); populateMovesets()">
                        2500
                    </button>
                </div>
                <div class="input-group-append">
                    <button class="btn btn-secondary" ng-class="maxCp > 2500 ? 'btn-dark' : ''"
                            ng-click="setMaxCp(9999); populateMovesets()">
                        None
                    </button>
                </div>
            </div>

            <!-- type filter -->
            <div>
                <label class="form-label mt-2 mb-3">Type Filters: </label>
            </div>
            <div class="row mb-4">
                <div class="col-1 col-sm-2 col-md-3 col-lg-4"></div>
                <div class="col-10 col-sm-8 col-md-6 col-lg-4">
                    <div class="card">
                        <div class="card-header">
                            <ul class="nav nav-tabs nav-fill card-header-tabs">
                                <li class="nav-item">
                                    <div class="nav-link" ng-class="currentTypeTab === 'pokemonTypes' ? 'active' : ''"
                                         ng-click="setCurrentTypeTab('pokemonTypes')">Pokemon Types</div>
                                </li>
                                <li class="nav-item">
                                    <div class="nav-link" ng-class="currentTypeTab === 'moveTypes' ? 'active' : ''"
                                         ng-click="setCurrentTypeTab('moveTypes')">Move Types</div>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <!-- pokemon type filters -->
                            <div class="row" ng-show="currentTypeTab === 'pokemonTypes'">
                                <div ng-repeat="type in types" class="col-2 mt-2 pl-0 pr-0"
                                     ng-click="updatePokemonTypeFilter(type); populateMovesets()">
                                    <div class="icon"
                                         ng-class="isPokemonTypeActive(type) ? '{{type.toLowerCase()}}' : 'icon-inactive'">
                                        <img ng-src="{{getIconPath(type)}}" title="{{type}}"
                                             data-toggle="tooltip" data-placement="top" >
                                    </div>
                                </div>
                            </div>

                            <!-- move type filters -->
                            <div class="row" ng-show="currentTypeTab === 'moveTypes'">
                                <div ng-repeat="type in types" class="col-2 mt-2 pl-0 pr-0"
                                     ng-click="updateMoveTypeFilter(type); populateMovesets()">
                                    <div class="icon"
                                         ng-class="isMoveTypeActive(type) ? '{{type.toLowerCase()}}' : 'icon-inactive'">
                                        <img ng-src="{{getIconPath(type)}}" title="{{type}}"
                                             data-toggle="tooltip" data-placement="top" >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-1 col-sm-2 col-md-3 col-lg-4"></div>
            </div>

            <!-- shields -->
            <div class="btn-toolbar mb-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <label class="input-group-text">Shields</label>
                    </div>
                    <div class="input-group-append">
                        <button class="btn btn-secondary" ng-click="setShields(0); populateMovesets()"
                                ng-class="shields === 0 ? 'btn-dark' : ''">0</button>
                    </div>
                    <div class="input-group-append">
                        <button class="btn btn-secondary" ng-click="setShields(1); populateMovesets()"
                                ng-class="shields === 1 ? 'btn-dark' : ''">1</button>
                    </div>
                    <div class="input-group-append">
                        <button class="btn btn-secondary" ng-click="setShields(2); populateMovesets()"
                                ng-class="shields === 2 ? 'btn-dark' : ''">2</button>
                    </div>
                </div>
            </div>

            <!-- legendary toggle -->
            <div class="btn-toolbar mb-3 justify-content-between">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <label class="input-group-text">Include Legendaries</label>
                    </div>
                    <div class="input-group-append">
                        <button class="btn btn-secondary" ng-click="setShowLegendaries(true); populateMovesets()"
                                ng-class="showLegendaries ? 'btn-dark' : ''">Yes</button>
                    </div>
                    <div class="input-group-append">
                        <button class="btn btn-secondary" ng-click="setShowLegendaries(false); populateMovesets()"
                                ng-class="showLegendaries ? '' : 'btn-dark'">No</button>
                    </div>
                </div>
            </div>

            <!-- simulation type -->
            <div class="btn-toolbar mb-3 justify-content-between">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <label class="input-group-text">Simulation</label>
                    </div>
                    <div class="input-group-append">
                        <button class="btn btn-secondary" ng-click="setActualDps(true); populateMovesets()"
                                ng-class="actualDps ? 'btn-dark' : ''">Realistic</button>
                    </div>
                    <div class="input-group-append">
                        <button class="btn btn-secondary" ng-click="setActualDps(false); populateMovesets()"
                                ng-class="!actualDps ? 'btn-dark' : ''">Hypothetical</button>
                    </div>
                </div>
                <div class="btn-group">
                    <button class="btn btn-secondary" role="group" ng-class="isPvp ? 'btn-dark' : ''"
                            ng-click="setPvp(true); populateMovesets()">PvP</button>
                    <button class="btn btn-secondary" role="group" ng-class="isPvp ? '' : 'btn-dark'"
                            ng-click="setPvp(false); populateMovesets()">PvE</button>
                </div>
            </div>
        </form>
    </div>

    <!-- movesets -->
    <div class="table-responsive">
        <table class="table"
               st-table="displayedMovesets"
               st-safe-src="movesets"
               st-persist="movesetsTable">

            <!-- search bar -->
            <tr>
                <th colspan="2">
                    <input placeholder="Pokemon" class="form-control" type="search"
                           ng-model="searchPokemon" st-search="pokemon" />
                </th>
                <th colspan="2">
                    <input placeholder="Fast Moves" class="form-control" type="search"
                           ng-model="searchFastMoves" st-search="fastMove" />
                </th>
                <th colspan="3">
                    <input placeholder="Charge Moves" class="form-control" type="search"
                           ng-model="searchChargeMoves" st-search="chargeMove" />
                </th>
                <th colspan="2">
                    <input placeholder="TTFA" class="form-control" type="search"
                           ng-model="searchTtfa" st-search="ttfa" />
                </th>
                <th colspan="2">
                    <input placeholder="# Charges" class="form-control" type="search"
                           ng-model="searchCharges" st-search="charges" />
                </th>
            </tr>

            <!-- headers -->
            <tr>
                <th class="sortable" colspan="2" st-sort="pokemon">Pokemon</th>
                <th class="sortable" st-sort="fastMove">FM</th>
                <th class="sortable" st-sort="fmType">Type</th>
                <th class="sortable" st-sort="chargeMove">CM</th>
                <th class="sortable" st-sort="cmType">Type</th>
                <th class="sortable" st-sort="dps">DPT</th>
                <th class="sortable" st-sort="ttfa"
                    data-toggle="tooltip" data-placement="top" title="Time to first charge move activation">TTFA</th>
                <th class="sortable" st-sort="total"
                    data-toggle="tooltip" data-placement="top" title="Total damage dealt before dying">Tot</th>
                <th class="sortable" st-sort="charges"
                    data-toggle="tooltip" data-placement="top" title="Number of charge attacks fired">CAs</th>
                <th>FM/CM</th>
            </tr>

            <!-- table body -->
            <tr ng-repeat="moveset in displayedMovesets">
                <td colspan="2">{{moveset.pokemon}}</td>
                <td>{{moveset.fastMove}}</td>
                <td>
                    <div class="icon ml-1" ng-class="moveset.fmType.toLowerCase()">
                        <img ng-src="{{getIconPath(moveset.fmType)}}"
                             data-toggle="tooltip" data-placement="top" title="{{moveset.fmType}}">
                    </div>
                </td>
                <td>{{moveset.chargeMove}}</td>
                <td>
                    <div class="icon ml-1" ng-class="moveset.cmType.toLowerCase()">
                        <img ng-src="{{getIconPath(moveset.cmType)}}"
                             data-toggle="tooltip" data-placement="top" title="{{moveset.cmType}}">
                    </div>
                </td>
                <td>{{moveset.dps}}</td>
                <td>{{moveset.ttfa}}</td>
                <td>{{moveset.total}}</td>
                <td>{{moveset.charges}}</td>
                <td>{{moveset.dmgDist}}</td>
            </tr>

            <!-- pagination -->
            <tr>
                <td class="text-center" colspan="11">
                    <div st-pagination="" st-items-by-page="pageSize" st-displayed-pages="5"></div>
                </td>
            </tr>
        </table>
    </div>

</div>