<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Stocks</title>

    <!-- angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.js"></script>

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <!-- third party libraries -->
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
    <script src="./js/chart-patch.js"></script>
    <script src="./js/smart-table.js"></script>
    <script src="./js/angular-chart.js"></script>

    <!-- custom css -->
    <link rel="stylesheet" href="./css/main.css">

    <!-- main app module -->
    <script src="./js/main-app.js"></script>

    <!-- services -->
    <script src="./services/stock-market-service.js"></script>
    <script src="./services/cache-service.js"></script>

    <!-- controllers -->
    <script src="./controllers/main-controller.js"></script>
    <script src="./controllers/symbols-controller.js"></script>
    <script src="./controllers/rankings-controller.js"></script>
    <script src="./controllers/sectors-controller.js"></script>
  </head>

  <body ng-app="mainApp" ng-controller="mainController">

    <!-- header / main nav bar -->
    <header>
      <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top position-sticky">
        <a class="navbar-brand"
           href="https://github.com/jyolikearock/jyolikearock.github.io/tree/master/stocks"
           target="_blank">
          jyolikearock
        </a>

        <button class="navbar-toggler" type="button" ng-click="toggleNav()">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" uib-collapse="isNavCollapsed"
             ng-class="{'show': !isNavCollapsed}">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="#" ng-click="closeNav()">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#/symbols" ng-click="closeNav()">Symbols</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#/rankings" ng-click="closeNav()">Rankings</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" disabled
                 role="button" data-toggle="dropdown">
                Sectors
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li ng-repeat="sector in sectors">
                  <a class="dropdown-item" href="#/sectors/{{sector}}"
                     ng-click="closeNav()">
                    {{sector}}
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <!-- body -->
    <div class="container-fluid">

      <!-- loading screen -->
      <div class="jumbotron mt-3" ng-hide="isLoadingFinished">
        <h1 class="display-4">Welcome</h1>
        <p class="lead">
          Loading stock market data from
          <a href="https://iextrading.com/developer/" target="_blank">IEX</a> server...
        </p>
        <hr class="my-4">
        <p>Loaded data for {{loadProgress.numSymbolsLoaded}} stock symbols</p>
      </div>

      <div class="row" ng-show="isLoadingFinished">

        <!-- content body populated by angular -->
        <div class="col" ng-view>

        </div>

      </div>
    </div>
  </body>
</html>