<!doctype html>
<html>
  <head>
    <title>Stocks</title>

    <!-- angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.js"></script>

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- third party libraries -->
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
    <script src="./js/chart-patch.js"></script>
    <script src="./js/smart-table.js"></script>
    <script src="./js/angular-chart.js"></script>

    <!-- custom css -->
    <link rel="stylesheet" href="./css/main.css">

    <!-- main app module -->
    <script src="./js/main-app.js"></script>

    <!-- services -->
    <script src="./services/stock-market-service.js"></script>
    <script src="./services/cache-service.js"></script>

    <!-- controllers -->
    <script src="./controllers/main-controller.js"></script>
    <script src="./controllers/symbols-controller.js"></script>
    <script src="./controllers/rankings-controller.js"></script>
    <script src="./controllers/sectors-controller.js"></script>
  </head>

  <body ng-app="mainApp" ng-controller="mainController">

    <!-- header / main nav bar -->
    <header class="navbar navbar-expand bg-dark navbar-dark fixed-top position-sticky">
      <a class="navbar-brand"
         href="https://github.com/jyolikearock/jyolikearock.github.io/tree/master/stocks"
         target="_blank">
        jyolikearock
      </a>
    </header>



    <!-- body -->
    <div class="container-fluid mt-4">

      <!-- loading screen -->
      <div class="jumbotron" ng-hide="isLoadingFinished">
        <h1 class="display-4">Welcome</h1>
        <p class="lead">
          Loading stock market data from
          <a href="https://iextrading.com/developer/" target="_blank">IEX</a> server...
        </p>
        <hr class="my-4">
        <p>Loaded data for {{loadProgress.numSymbolsLoaded}} stock symbols</p>
      </div>

      <div class="row" ng-show="isLoadingFinished">

        <!-- page nav bar -->
        <div class="col-12 col-md-4 col-xl-3 border-right">
          <nav class="navbar navbar-expand-md">
            <button class="navbar-toggler" type="button"
                    data-toggle="collapse" data-target="#sideNavbar">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="sideNavbar">
              <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                  <a class="nav-link" href="#"
                     ng-click="resetCurrentPage()"
                     ng-class="{'active': pageInfo.currentPage == 'Home'}">
                    Home
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#/symbols"
                     ng-class="{'active': pageInfo.currentPage == 'Symbols'}">
                    Symbols
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#/rankings"
                     ng-class="{'active': pageInfo.currentPage == 'Rankings'}">
                    Rankings
                  </a>
                </li>
                <li class="nav-item">
                  <span class="nav-link">
                    Sectors
                  </span>
                </li>
                <li class="nav-item" ng-repeat="sector in sectors">
                  <a class="nav-link" href="#/sectors/{{sector}}"
                     ng-class="{'active': pageInfo.currentPage == sector}">
                    {{sector}}
                  </a>
                </li>
              </ul>
            </div>
          </nav>
        </div>

        <!-- content body populated by angular -->
        <div class="col-12 col-md-8 col-xl-9" ng-view>

        </div>

      </div>
    </div>
  </body>
</html>