<h4 class="display-4">Fast Moves</h4>
<div class="row">
    <div class="col-12">
        <table class="table table-hover table-fixed"
               st-table="displayedMoves"
               st-safe-src="moves"
               st-persist="fastMovesTable">
            <thead>
            <tr>
                <th colspan="4"></th>
                <th colspan="7">PVP (GBL, Rocket)</th>
                <th colspan="7">PVE (Gyms, Raids)</th>
            </tr>
            <tr>
                <th class="sortable" colspan="2" st-sort="name">Move</th>
                <th class="sortable" colspan="2" st-sort="type">Type</th>
                <th class="sortable" st-sort="pvpDamage">Damage</th>
                <th class="sortable" st-sort="pvpEnergy">Energy</th>
                <th class="sortable" st-sort="pvpTurns">Turns</th>
                <th class="sortable" st-sort="pvpDpt">DPT</th>
                <th class="sortable" st-sort="pvpEpt">EPT</th>
                <th class="sortable" colspan="2" st-sort="pvpTotal">DPT x EPT</th>
                <th class="sortable" st-sort="pveDamage">Damage</th>
                <th class="sortable" st-sort="pveEnergy">Energy</th>
                <th class="sortable" st-sort="pveCooldown">Cooldown</th>
                <th class="sortable" st-sort="pveDps">DPS</th>
                <th class="sortable" st-sort="pveEps">EPS</th>
                <th class="sortable" colspan="2" st-sort="pveTotal">DPS x EPS</th>
            </tr>
            <tr>
                <th colspan="2">
                    <input placeholder="Search Moves" class="form-control" type="search"
                           ng-model="searchMove" st-search="name" />
                </th>
                <th colspan="2">
                    <input placeholder="Search Types" class="form-control" type="search"
                           ng-model="searchType" st-search="type" />
                </th>
                <th colspan="14"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="move in displayedMoves track by move.name">
                <td colspan="2" class="td-overflow">
                    {{move.name}}
                </td>
                <td colspan="2" class="td-overflow">
                    {{move.type}}
                </td>
                <td>
                    {{move.pvpDamage}}
                </td>
                <td>
                    {{move.pvpEnergy}}
                </td>
                <td>
                    {{move.pvpTurns}}
                </td>
                <td>
                    {{move.pvpDpt}}
                </td>
                <td>
                    {{move.pvpEpt}}
                </td >
                <td colspan="2">
                    {{move.pvpTotal}}
                </td>
                <td>
                    {{move.pveDamage}}
                </td>
                <td>
                    {{move.pveEnergy}}
                </td>
                <td>
                    {{move.pveCooldown}}
                </td>
                <td>
                    {{move.pveDps}}
                </td>
                <td>
                    {{move.pveEps}}
                </td >
                <td colspan="2">
                    {{move.pveTotal}}
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td class="text-center" colspan="18">
                    <div st-pagination="" st-items-by-page="pageSize" st-displayed-pages="5"></div>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>