<div class="card mt-3">
    <div class="card-header">
        <ul class="nav nav-tabs nav-fill card-header-tabs">
            <li class="nav-item">
                <div class="nav-link" ng-class="currentTab === 'pvpFast' ? 'active' : ''"
                     ng-click="showTab('pvpFast')">PvP Fast</div>
            </li>
            <li class="nav-item">
                <div class="nav-link" ng-class="currentTab === 'pveFast' ? 'active' : ''"
                     ng-click="showTab('pveFast')">PvE Fast</div>
            </li>
            <li class="nav-item">
                <div class="nav-link" ng-class="currentTab === 'pvpCharge' ? 'active' : ''"
                     ng-click="showTab('pvpCharge')">PvP Charge</div>
            </li>
            <li class="nav-item">
                <div class="nav-link" ng-class="currentTab === 'pveCharge' ? 'active' : ''"
                     ng-click="showTab('pveCharge')">PvE Charge</div>
            </li>
        </ul>
    </div>

    <div class="card-body" ng-controller="optionsController">
        <div class="row">
            <div class="col-6">
                <h5 class="card-title">Moves</h5>
            </div>
            <button class="btn btn-secondary ml-auto mr-3" ng-click="toggleOptions()">
                Options
            </button>
        </div>

        <div ng-show="showOptions()">
            <!-- type filter -->
            <div>
                <label class="form-label mt-2 mb-0">Type Filters: </label>
            </div>
            <div class="row">
                <div class="col-1 col-sm-2 col-md-3 col-lg-4"></div>
                <div class="col-10 col-sm-8 col-md-6 col-lg-4">
                    <div class="row">
                        <div ng-repeat="type in types" class="col-2 mt-2"
                             ng-click="updateMoveTypeFilter(type); updateMoves()">
                            <div class="icon"
                                 ng-class="isMoveTypeActive(type) ? '{{type.toLowerCase()}}' : 'icon-inactive'">
                                <img ng-src="{{getIconPath(type)}}" data-toggle="tooltip" data-placement="top" title="{{type}}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-1 col-sm-2 col-md-3 col-lg-4"></div>
            </div>
        </div>
    </div>

    <!-- pvp fast moves -->
    <table class="table table-hover table-fixed" ng-show="currentTab === 'pvpFast'"
           st-table="displayedFastMoves"
           st-safe-src="fastMoves"
           st-persist="fastMovesTable"
           refreshTable>
        <thead>
        <tr>
            <th colspan="9">
                <input placeholder="Search Moves" class="form-control" type="search"
                       ng-model="searchFastMove" st-search="name" />
            </th>
        </tr>
        <tr>
            <th class="sortable" colspan="2" st-sort="name">Move</th>
            <th class="sortable" colspan="1" st-sort="type">Type</th>
            <th class="sortable" st-sort="pvpDamage">D</th>
            <th class="sortable" st-sort="pvpEnergy">E</th>
            <th class="sortable" st-sort="pvpTurns">T</th>
            <th class="sortable" st-sort="pvpDpt">DPT</th>
            <th class="sortable" st-sort="pvpEpt">EPT</th>
            <th class="sortable" colspan="1" st-sort="pvpTotal"
                data-toggle="tooltip" data-placement="top" title="DPT x EPT">Tot</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="move in displayedFastMoves track by move.name">
            <td colspan="2" class="td-overflow">
                {{move.name}}
            </td>
            <td colspan="1" >
                <div class="icon ml-1" ng-class="move.type.toLowerCase()">
                    <img ng-src="{{getIconPath(move.type)}}"
                         data-toggle="tooltip" data-placement="top" title="{{move.type}}">
                </div>
            </td>
            <td>
                {{move.pvpDamage}}
            </td>
            <td>
                {{move.pvpEnergy}}
            </td>
            <td>
                {{move.pvpTurns}}
            </td>
            <td>
                {{move.pvpDpt}}
            </td>
            <td>
                {{move.pvpEpt}}
            </td >
            <td colspan="1">
                {{move.pvpTotal}}
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td class="text-center" colspan="9">
                <div st-pagination="" st-items-by-page="pageSize" st-displayed-pages="5"></div>
            </td>
        </tr>
        </tfoot>
    </table>

    <!-- pve fast moves -->
    <table class="table table-hover table-fixed" ng-show="currentTab === 'pveFast'"
           st-table="displayedFastMoves"
           st-safe-src="fastMoves"
           st-persist="fastMovesTable"
           refreshTable>
        <thead>
        <tr>
            <th colspan="9">
                <input placeholder="Search Moves" class="form-control" type="search"
                       ng-model="searchFastMove" st-search="name" />
            </th>
        </tr>
        <tr>
            <th class="sortable" colspan="2" st-sort="name">Move</th>
            <th class="sortable" colspan="1" st-sort="type">Type</th>
            <th class="sortable" st-sort="pveDamage">D</th>
            <th class="sortable" st-sort="pveEnergy">E</th>
            <th class="sortable" st-sort="pveCooldown">CD</th>
            <th class="sortable" st-sort="pveDps">DPS</th>
            <th class="sortable" st-sort="pveEps">EPS</th>
            <th class="sortable" colspan="1" st-sort="pveTotal"
                data-toggle="tooltip" data-placement="top" title="DPS x EPS">Tot</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="move in displayedFastMoves track by move.name">
            <td colspan="2" class="td-overflow">
                {{move.name}}
            </td>
            <td colspan="1">
                <div class="icon ml-1" ng-class="move.type.toLowerCase()">
                    <img ng-src="{{getIconPath(move.type)}}"
                         data-toggle="tooltip" data-placement="top" title="{{move.type}}">
                </div>
            </td>
            <td>
                {{move.pveDamage}}
            </td>
            <td>
                {{move.pveEnergy}}
            </td>
            <td>
                {{move.pveCooldown}}
            </td>
            <td>
                {{move.pveDps}}
            </td>
            <td>
                {{move.pveEps}}
            </td >
            <td colspan="1">
                {{move.pveTotal}}
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td class="text-center" colspan="9">
                <div st-pagination="" st-items-by-page="pageSize" st-displayed-pages="5"></div>
            </td>
        </tr>
        </tfoot>
    </table>

    <!-- pvp charge moves -->
    <table class="table table-hover table-fixed" ng-show="currentTab === 'pvpCharge'"
           st-table="displayedChargeMoves"
           st-safe-src="chargeMoves"
           st-persist="chargeMovesTable"
           refreshTable>
        <thead>
        <tr>
            <th colspan="4">
                <input placeholder="Search Moves" class="form-control" type="search"
                       ng-model="searchChargeMove" st-search="name" />
            </th>
            <th colspan="4">
                <input placeholder="Search Effects" class="form-control" type="search"
                       ng-model="searchEffect" st-search="pvpEffect" />
            </th>
        </tr>
        <tr>
            <th class="sortable" colspan="2" st-sort="name">Move</th>
            <th class="sortable" colspan="1" st-sort="type">Type</th>
            <th class="sortable" st-sort="pvpDamage">D</th>
            <th class="sortable" st-sort="pvpEnergy">E</th>
            <th class="sortable" colspan="1" st-sort="pvpDpe">DPE</th>
            <th class="sortable" colspan="2" st-sort="pvpEffect">Effect</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="move in displayedChargeMoves track by move.name">
            <td colspan="2" class="td-overflow">
                {{move.name}}
            </td>
            <td colspan="1">
                <div class="icon ml-1" ng-class="move.type.toLowerCase()">
                    <img ng-src="{{getIconPath(move.type)}}"
                         data-toggle="tooltip" data-placement="top" title="{{move.type}}">
                </div>
            </td>
            <td>
                {{move.pvpDamage}}
            </td>
            <td>
                {{move.pvpEnergy}}
            </td>
            <td colspan="1">
                {{move.pvpDpe}}
            </td>
            <td colspan="2">
                {{move.pvpEffect}}
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td class="text-center" colspan="8">
                <div st-pagination="" st-items-by-page="pageSize" st-displayed-pages="5"></div>
            </td>
        </tr>
        </tfoot>
    </table>

    <!-- pve charge moves -->
    <table class="table table-hover table-fixed" ng-show="currentTab === 'pveCharge'"
           st-table="displayedChargeMoves"
           st-safe-src="chargeMoves"
           st-persist="chargeMovesTable"
           refreshTable>
        <thead>
        <tr>
            <th colspan="7">
                <input placeholder="Search Moves" class="form-control" type="search"
                       ng-model="searchChargeMove" st-search="name" />
            </th>
        </tr>
        <tr>
            <th class="sortable" colspan="2" st-sort="name">Move</th>
            <th class="sortable" colspan="1" st-sort="type">Type</th>
            <th class="sortable" st-sort="pveDamage">D</th>
            <th class="sortable" st-sort="pveEnergy">E</th>
            <th class="sortable" st-sort="pveCooldown">CD</th>
            <th class="sortable" st-sort="pveDpe">DPE</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="move in displayedChargeMoves track by move.name">
            <td colspan="2" class="td-overflow">
                {{move.name}}
            </td>
            <td colspan="1">
                <div class="icon ml-1" ng-class="move.type.toLowerCase()">
                    <img ng-src="{{getIconPath(move.type)}}"
                         data-toggle="tooltip" data-placement="top" title="{{move.type}}">
                </div>
            </td>
            <td>
                {{move.pveDamage}}
            </td>
            <td>
                {{move.pveEnergy}}
            </td>
            <td>
                {{move.pveCooldown}}
            </td>
            <td>
                {{move.pveDpe}}
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td class="text-center" colspan="7">
                <div st-pagination="" st-items-by-page="pageSize" st-displayed-pages="5"></div>
            </td>
        </tr>
        </tfoot>
    </table>
</div>