<div class="card mt-3 mb-3">
    <div class="card-body">
        <div class="row">
            <div class="col-6">
                <h5 class="card-title">Pokemon</h5>
                <span class="d-none">{{refreshStats()}}</span>
            </div>
            <button class="btn btn-secondary ml-auto mr-3" ng-click="toggleSettings()">
                Settings
            </button>
        </div>

        <form ng-show="shouldShowSettings()">
            <div class="form-group row">
                <label class="col-3 col-lg-2 mt-2 col-form-label">Max CP:</label>
                <div class="col-9 col-lg-4 mt-2">
                    <input class="form-control" type="text" ng-model="maxCP" />
                </div>
                <div class="btn-group ml-auto mr-3 mt-2" role="group">
                    <button class="btn btn-secondary" ng-click="updateMaxCP(1500)"
                            ng-class="maxCP <= 1500 ? 'btn-dark' : ''">
                        GL (1500)
                    </button>
                    <button class="btn btn-secondary" ng-click="updateMaxCP(2500)"
                            ng-class="maxCP > 1500 && maxCP <= 2500 ? 'btn-dark' : ''">
                        UL (2500)
                    </button>
                    <button class="btn btn-secondary" ng-click="updateMaxCP(9999)"
                            ng-class="maxCP > 2500 ? 'btn-dark' : ''">
                        ML (No Max)
                    </button>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-3 col-lg-1 mt-2 col-form-label">ATK IV:</label>
                <div class="col-5 col-lg-2 mt-2">
                    <input class="form-control" ng-model="atkIv" type="number"/>
                </div>
                <div class="col-4 d-lg-none"></div>
                <label class="col-3 col-lg-1 mt-2 col-form-label">DEF IV:</label>
                <div class="col-5 col-lg-2 mt-2">
                    <input class="form-control" ng-model="defIv" type="number"/>
                </div>
                <div class="col-4 d-lg-none"></div>
                <label class="col-3 col-lg-1 mt-2 col-form-label">HP IV:</label>
                <div class="col-5 col-lg-2 mt-2">
                    <input class="form-control" ng-model="hpIv" type="number"/>
                </div>
                <div class="btn btn-dark ml-auto mr-3 mt-2" ng-click="refreshPage()">
                    Refresh Page
                </div>
            </div>
        </form>
    </div>

    <table class="table table-hover table-fixed"
           st-table="displayedPokemons"
           st-safe-src="pokemons"
           st-persist="pokemonsTable">
        <thead>
        <tr>
            <th class="sortable" colspan="2" st-sort="name">Pokemon</th>
            <th class="sortable" colspan="2" st-sort="type">Type</th>
            <th class="sortable" st-sort="_level">Level</th>
            <th class="sortable" st-sort="_atk">ATK</th>
            <th class="sortable" st-sort="_def">DEF</th>
            <th class="sortable" st-sort="_hp">HP</th>
            <th class="sortable" st-sort="_bulk" data-toggle="tooltip" data-placement="top" title="Geometric mean of DEF and HP">Bulk</th>
            <th class="sortable" st-sort="_total" data-toggle="tooltip" data-placement="top" title="Geometric mean of ATK, DEF, and HP">Total</th>
            <th class="sortable" st-sort="_cp">CP</th>
        </tr>
        <tr>
            <td colspan="5">
                <input placeholder="Search Pokemon" class="form-control" type="search"
                       ng-model="searchPokemon" st-search="name" />
            </td>
            <td colspan="6">
                <input placeholder="Search Types" class="form-control" type="search"
                       ng-model="searchType" st-search="type" />
            </td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="pokemon in displayedPokemons track by pokemon.name"
            ng-click="getPokemon(pokemon.name)">
            <td colspan="2" class="td-overflow">
                {{pokemon.name}}
            </td>
            <td colspan="2">
                <div class="row">
                    <div ng-repeat="type in pokemon.type" class="col-4">
                        <div class="icon" ng-class="type.toLowerCase()">
                            <img ng-src="{{getIconPath(type)}}" alt="{{type}}">
                        </div>
                    </div>
                </div>
            </td>
            <td>
                {{pokemon._level}}
            </td>
            <td>
                {{pokemon._atk}}
            </td>
            <td>
                {{pokemon._def}}
            </td>
            <td>
                {{pokemon._hp}}
            </td>
            <td>
                {{pokemon._bulk}}
            </td >
            <td>
                {{pokemon._total}}
            </td>
            <td>
                {{pokemon._cp}}
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td class="text-center" colspan="11">
                <div st-pagination="" st-items-by-page="pageSize" st-displayed-pages="5"
                     st-page-change="setCurrentPage(newPage)"></div>
            </td>
        </tr>
        </tfoot>
    </table>
</div>
