<div class="card mt-3">

    <div class="card-header">
        <!-- pokemon search bar -->
        <div class="input-group">
            <input class="form-control" type="text" placeholder="Search Pokemon" ng-model="searchPokemon"
                   uib-typeahead="pokemonName for pokemonName in pokemonNames | filter: $viewValue : startsWith | limitTo: 7"
                   typeahead-on-select="goToPokemon($label)"/>
            <div class="input-group-append">
                <button class="btn btn-dark" ng-click="goToPokemon(searchPokemon)">
                    Go
                </button>
            </div>
        </div>
    </div>

    <div class="card-body" ng-controller="optionsController">
        <h5 class="card-title">Pokemon</h5>

        <!-- max cp -->
        <div class="input-group mt-3">
            <div class="input-group-prepend">
                <label class="input-group-text">CP Cap:</label>
            </div>
            <input class="form-control" type="number" ng-model="cpCap" readonly>
            <div class="input-group-append">
                <button class="btn btn-secondary" ng-click="setCpCap(1500); updateTableStats()"
                        ng-class="cpCap <= 1500 ? 'btn-dark' : ''">
                    1500
                </button>
            </div>
            <div class="input-group-append">
                <button class="btn btn-secondary border-left" ng-click="setCpCap(2500); updateTableStats()"
                        ng-class="cpCap > 1500 && cpCap <= 2500 ? 'btn-dark' : ''">
                    2500
                </button>
            </div>
            <div class="input-group-append">
                <button class="btn btn-secondary border-left" ng-click="setCpCap(9999); updateTableStats()"
                        ng-class="cpCap > 2500 ? 'btn-dark' : ''">
                    None
                </button>
            </div>
        </div>
    </div>
</div>

<!-- options -->
<div class="card mt-3" ng-controller="optionsController">
    <div class="card-body">
        <!-- header -->
        <div class="d-flex justify-content-between" slide-toggle="#allPokemonOptions"
             ng-click="toggleOptions()" current-state="{{showOptions}}">
            <div>
                <h5 class="card-title" >
                    Filters
                </h5>
            </div>
            <div class="mt-1">
                <img class="icon-12 ml-3" src="open-iconic/svg/chevron-bottom.svg"
                     ng-show="!showOptions"/>
                <img class="icon-12 ml-3" src="open-iconic/svg/chevron-top.svg"
                     ng-show="showOptions"/>
            </div>
        </div>

        <!-- options -->
        <div class="slideable" id="allPokemonOptions">
            <!-- type filter -->
            <div>
                <label class="form-label mb-0">Type Filters: </label>
                <p class="text-muted mb-3"><small>Click a type twice to filter single-type Pokemon</small></p>
            </div>
            <div class="row">
                <div class="col-1 col-sm-2 col-md-3 col-lg-4"></div>
                <div class="col-10 col-sm-8 col-md-6 col-lg-4">
                    <div class="row">
                        <div ng-repeat="type in types" class="col-2 mt-2"
                             ng-click="updatePokemonTypeFilter(type); updateAllPokemon()">
                            <div class="icon"
                                 ng-class="isPokemonTypeActive(type) ? '{{type.toLowerCase()}}' : 'icon-inactive'">
                                <img ng-src="{{getIconPath(type)}}" data-toggle="tooltip" data-placement="top" title="{{type}}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-1 col-sm-2 col-md-3 col-lg-4"></div>
            </div>

            <!-- legendary toggle -->
            <div class="btn-toolbar justify-content-between mt-4">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <label class="input-group-text">Include Legendaries</label>
                    </div>
                    <div class="input-group-append">
                        <button class="btn btn-secondary" ng-click="setShowLegendaries(true); updateAllPokemon()"
                                ng-class="showLegendaries ? 'btn-dark' : ''">Yes</button>
                    </div>
                    <div class="input-group-append">
                        <button class="btn btn-secondary border-left" ng-click="setShowLegendaries(false); updateAllPokemon()"
                                ng-class="showLegendaries ? '' : 'btn-dark'">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card mt-3">
    <!-- all pokemon stats table -->
    <div class="table-responsive mt-5">
        <table class="table table-hover table-fixed"
               st-table="displayedPokemons"
               st-safe-src="allPokemon"
               st-persist="pokemonsTable"
               refresh-table>
            <thead>

            <!-- search header -->
            <!--
            <tr>
                <th colspan="3">
                    <input placeholder="Pokemon" class="form-control" type="search"
                           ng-model="searchPokemon" st-search="name" />
                </th>
                <th colspan="2">
                    <input placeholder="ATK" class="form-control" type="search"
                           ng-model="searchAtk" st-search="tableStats.displayedAtk" />
                </th>
                <th colspan="2">
                    <input placeholder="DEF" class="form-control" type="search"
                           ng-model="searchDef" st-search="tableStats.displayedDef" />
                </th>
                <th colspan="3">
                    <input placeholder="Max CP" class="form-control" type="search"
                           ng-model="searchCpCap" st-search="tableStats.displayedAtk" />
                </th>
            </tr>
            -->
            <tr>
                <th class="sortable" colspan="2" st-sort="name">Pokemon</th>
                <th class="sortable" colspan="2" st-sort="type">Type</th>
                <th class="sortable" st-sort="tableStats.displayedAtk">ATK</th>
                <th class="sortable" st-sort="tableStats.displayedDef">DEF</th>
                <th class="sortable" st-sort="tableStats.displayedHp">HP</th>
                <th class="sortable" st-sort="tableStats.bulk" data-toggle="tooltip" data-placement="top" title="Geometric mean of DEF and HP">Bulk</th>
                <th class="sortable" st-sort="tableStats.total" data-toggle="tooltip" data-placement="top" title="Geometric mean of ATK, DEF, and HP">Total</th>
                <th class="sortable" st-sort="tableStats.cp">CP</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="pokemon in displayedPokemons track by pokemon.name"
                ng-click="goToPokemon(pokemon.name)">
                <td colspan="2" class="td-overflow">
                    {{pokemon.name}}
                </td>
                <td colspan="2">
                    <div class="row">
                        <div ng-repeat="type in pokemon.type" class="col-4">
                            <div class="icon" ng-class="type.toLowerCase()">
                                <img ng-src="{{getIconPath(type)}}" data-toggle="tooltip" data-placement="top" title="{{type}}">
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    {{pokemon.tableStats.displayedAtk}}
                </td>
                <td>
                    {{pokemon.tableStats.displayedDef}}
                </td>
                <td>
                    {{pokemon.tableStats.displayedHp}}
                </td>
                <td>
                    {{pokemon.tableStats.bulk}}
                </td>
                <td>
                    {{pokemon.tableStats.total}}
                </td>
                <td>
                    {{pokemon.tableStats.cp}}
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td class="text-center" colspan="10">
                    <div st-pagination="" st-items-by-page="pageSize" st-displayed-pages="5"></div>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
