.mundus-form {
  margin: 0 auto;
  width: 550px;
  padding: 20px;
  background: #f4f4f4;
  border-radius: 3px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3);
}

.mundus-input {
  display: inline;
  width: 94%;
  height: 38px;
  margin-top: 2px;
  font-weight: 500;
  background: none;
  border: 0;
  border-bottom: 1px solid #d8d8d8;
}
.mundus-input-level {
  display: inline;
  width: 86%;
  height: 38px;
  margin-top: 2px;
  font-weight: 500;
  background: none;
  border: 0;
  border-bottom: 1px solid #d8d8d8;
}
.mundus-input-left {
  display: inline;
  width: 40%;
  height: 38px;
  margin-top: 2px;
  margin-right: 2px;
  font-weight: 500;
  background: none;
  border: 0;
  border-bottom: 1px solid #d8d8d8;
}
.mundus-input-right {
  display: inline;
  width: 40%;
  height: 38px;
  margin-top: 2px;
  margin-left: 40px;
  font-weight: 500;
  background: none;
  border: 0;
  border-bottom: 1px solid #d8d8d8;
}
.mundus-input:focus, 
.mundus-input-left:focus, 
.mundus-input-right:focus, 
.mundus-input-level:focus {
  border-color: #1f1f2e;
  outline: 0;
}

.mundus-button {
  display: block;
  width: 100%;
  height: 38px;
  margin-top: 25px;
  font-size: 14px;
  font-weight: bold;
  color: #1E2021;
  text-align: center;
  background: transparent;
  border: 1px solid;
  border-color: #1f1f2e;
  cursor: pointer;
}
.mundus-button:hover {
  background: #1E2021;
  color: #ffffff;
}
.mundus-button:active {
  background: #0a0a0f;
  color: #ffffff;
  padding:0px;
}
.mundus-button:focus {
  outline: 0;
}
.mundus-button::-moz-focus-inner {
  border: 0;
}

.mundus-div {
  display: block;
  width: 550px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
}

.mundus-math {
  font-size: 11px;
  font-family: "Lucida Console", Monaco, monospace
}

/* Thanks to tutorialzine http://tutorialzine.com/2014/07/css-inline-help-tips/ */
.help-tip{
  display: inline-block;
  text-align: center;
  color: #ffffff;
  background-color: #1E2021;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  font-size: 14px;
  line-height: 26px;
  cursor: default;
}

.help-tip:hover p{
  display:block;
}

.help-tip p{    /* The tooltip */
  display: none;
  text-align: left;
  background-color: #1E2021;
  padding: 20px;
  width: 300px;
  position: absolute;
  left: 50%;
  top: 30%;
  margin-left: -455px;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  color: #FFF;
  font-size: 13px;
  line-height: 1.4;
  font: 12px;
  font-weight: bold;
}

/* Thanks to callmenick http://callmenick.com/post/css-toggle-switch-examples */
.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.cmn-toggle + label {
  display: inline-block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}

input.cmn-toggle-round + label {
  padding: 2px;
  width: 40px;
  height: 20px;
  background-color: #dddddd;
  border-radius: 20px;
  top: 7px;
}
input.cmn-toggle-round + label:before,
input.cmn-toggle-round + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}
input.cmn-toggle-round + label:before {
  right: 1px;
  background-color: #f1f1f1;
  border-radius: 20px;
  transition: background 0.4s;
}
input.cmn-toggle-round + label:after {
  width: 20px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: margin 0.4s;
}
input.cmn-toggle-round:checked + label:before {
  background-color: #1E2021;
}
input.cmn-toggle-round:checked + label:after {
  margin-left: 22px;
}