.mundos-form {
  margin: 0 auto;
  width: 550px;
  padding: 20px;
  background: #f4f4f4;
  border-radius: 3px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3);
}

.mundos-input {
  display: block;
  width: 100%;
  height: 38px;
  margin-top: 2px;
  font-weight: 500;
  background: none;
  border: 0;
  border-bottom: 1px solid #d8d8d8;
}
.mundos-input-left {
  display: inline;
  width: 48%;
  height: 38px;
  margin-top: 2px;
  margin-right: 7px;
  font-weight: 500;
  background: none;
  border: 0;
  border-bottom: 1px solid #d8d8d8;
}
.mundos-input-right {
  display: inline;
  width: 48%;
  height: 38px;
  margin-top: 2px;
  margin-left: 7px;
  font-weight: 500;
  background: none;
  border: 0;
  border-bottom: 1px solid #d8d8d8;
}
.mundos-input:focus {
  border-color: #1f1f2e;
  outline: 0;
}
.mundos-input-left:focus {
  border-color: #1f1f2e;
  outline: 0;
}
.mundos-input-right:focus {
  border-color: #1f1f2e;
  outline: 0;
}

.mundos-button {
  display: block;
  width: 100%;
  height: 38px;
  margin-top: 25px;
  font-size: 14px;
  font-weight: bold;
  color: #1f1f2e;
  text-align: center;
  background: transparent;
  border: 1px solid;
  border-color: #1f1f2e;
  cursor: pointer;
}
.mundos-button:hover {
  background: #1f1f2e;
  color: #ffffff;
}
.mundos-button:active {
  background: #0a0a0f;
  color: #ffffff;
  padding:0px;
}
.mundos-button:focus {
  outline: 0;
}
.mundos-button::-moz-focus-inner {
  border: 0;
}

.mundos-div {
  display: block;
  width: 550px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
}

.mundos-math {
  font-size: 11px;
  font-family: "Lucida Console", Monaco, monospace
}