.important {
    padding: 0 50px 0 50px;
}

input.square-radio,
.buff-form input[type=checkbox] {
    visibility: hidden;
    position: absolute;
    margin-left: -9999px;
}

input.square-radio + label,
.buff-form input[type=checkbox] + label {
    font-size: 18pt;
    text-align: center;
    height: 35px;
    width: 40px;
    padding-top: 5px;
    margin-right: 5px;
    margin-bottom: 30px;
    border: solid 1px;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.buff-form input[type=checkbox] + label {
    font-size: 16pt;
    margin-left: 20px;
    margin-right: 20px;
}

.buff-form input[type=checkbox] + label:hover {
    cursor: default;
}

input.square-radio:checked + label,
input.square-radio + label:hover,
.buff-form input[type=checkbox]:checked + label {
    color: #fff;
    background: #1e2021;
    cursor: default;
}

.buff-form {
    margin: 0 auto;
    width: 550px;
    padding: 20px;
    padding-top: 5px;
    background: #f4f4f4;
    border-radius: 3px;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3);
}
.buff-form input[type=text] {
    height: 2.5em;
    width: 73%;
    border: 0;
    border-bottom: solid 1px #d8d8d8;
    background: transparent;
}
.buff-form input[type=text]:focus {
    border-bottom: solid 1px #000;
}
.buff-label {
    display: block;
    text-align: right;
    font-weight: bold;
}
.buff-form input[type=button] {
    border: solid 1px;
    background: transparent;
    height: 36px;
    width: 100%;
}
.buff-form input[type=button]:hover {
  background: #1E2021;
  color: #ffffff;
}
.buff-form input[type=button]:active {
  background: #0a0a0f;
  color: #ffffff;
  padding:0px;
}
.buff-form input[type=button]:focus {
  outline: 0;
}
.buff-form input[type=button]::-moz-focus-inner {
  border: 0;
}