.navbar-dark {
  color: white;
}

.pagination {
  justify-content: center;
}

.st-sort-ascent:before{
  content: '\25BC\ ';
}

.st-sort-descent:before{
  content: '\25B2\ ';
}

.sortable {
  cursor: pointer;
}

td, th {
  cursor: default;
}

a:hover {
  text-decoration: none;
}

[uib-typeahead-popup].dropdown-menu {
  display: block;
}

.uib-position-measure {
  display: block !important;
  visibility: hidden !important;
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.uib-position-scrollbar-measure {
  position: absolute !important;
  top: -9999px !important;
  width: 50px !important;
  height: 50px !important;
  overflow: scroll !important;
}

.uib-position-body-scrollbar-measure {
  overflow: scroll !important;
}